{% extends 'exercise_base.html' %}

{% block banner %}
	<a class="btn btn-primary" href="{% url 'home' %}" role="button">Home</a>
	<a class="btn btn-primary" href="{% url 'new_post' %}" role="button">New Post</a>
{% endblock %}

{% block content %}
	<h1 id="title">Exercise Feed</h1>
	<div class="container-fluid feed-container">
		{% for post in posts %}
		<div class="row justify-content-center">
			<div id="user" class="col-md-2">{{ post.author.username  }}</div>
			<div id="exercise" class="col-md-2">{{ post.exercise }}</div>
			<div id="reps" class="col-md-2">
				{% if post.reps != None %}
					{{post.reps}}
				{% else %}
					NA
				{% endif %}
			</div>
			<div id="weight" class="col-md-2">
				{% if post.weight != None %}
					{{post.weight}} lb
				{% else %}
					NA
				{% endif %}
			</div>
			<div id="datetime" class="col-md-3">{{ post.created_date }}</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
